body {
	background-color: silver;
	position: relative;
	margin: 20px;
	padding: 20px;
}
h1 {  
  font-size:50px;
  color:Navy;
  text-shadow: 0 0 5px #0000FF;
}

.centerdiv{
  width:40%;
  position: absolute;
  border-radius: 25px;
  border: 2px solid #ffffff;
  top: 10%;
  left: 10%;
  margin: 5x;
  padding: 10px;
  background-color:SpringGreen;
}